#page {
  max-width: 1400px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
header {
  width: 100%;
  height: 550px;
  background-image: url('../images/payments-banner-graphic.png');
  background-size: cover;
}

/*------NAV-------*/

nav {
  width: 100%;
}
#menu {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
}
.nav-left {
  width: 30%;
  display: inline-flex;
  padding-right: 25px;
}
.nav-right {
  padding-right: 15px
}
.mark-trad {
  margin-left: -35px;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin: 0 auto;
  font-size: 2rem;
}
.nav ul {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  padding: 0;
}
nav li {
  display: inline;
  margin-left: 30px;
}
header h1, header h2, header h3, header ul {
  color: white;
}
header h1 {
  font-size: 1.6em;
}

/*------HOME-------*/

#home {
  text-align: center;
  margin-top: 100px;
}
header h2 {
  color: white;
  font-size: 2.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin-bottom: 50px;
}
header h3 {
  font-family: cursive;
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 50px;
}
#home button {
  color: #8D8DC1;
  width: 300px;
  height: 40px;
  border-radius: 10px;
}
#home button:hover {
  color: black;
}

/*------system------*/

#system {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #DDDDDD;
}
#system h4, #system p {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
#system p {
  font-size: 14px;
}
.beautiful, .quick, .secure {
  width: 33.33%;
  text-align: center;
}
.beautiful, .quick {
  border-right: 1px solid #DDDDDD;
}

/*------per paid invoice-------*/

#dollar {
  background-color: #F6F9FB;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 50px;
}
#dollar h4 {
  font-weight: lighter;
  font-size: 22px;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 20px;
}
.dollar-bottom {
  width: 50%;
  display: inline-flex;
  justify-content: center;
}
.big-dollar {
  color: #8080BE;
  font-size: 50px;
}
.invoice {
  /*width: 40%;*/
  font-size: 30px;
}
.transaction {
  font-size: 16px;
  font-weight: lighter;
  color: #AFA5A2;
}
.per-paid, .big-dollar {
  text-align: center;
}

/*--------dark grey-------------*/

#dark-grey {
  background-color: #4C535C;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

/*--------grid-------------*/

.section {
  width: 100%;
  display: inline-flex;
  text-align: center;
}
.left, .right {
  width: 50%;
  padding-top: 120px;
  margin: 0 auto;
}
.blue {
  background-color: #7CD5EF;
}
.purple {
  background-color: #8080BE;
}
#grid img {
  border-top-left-radius: 10px;
  border-top-right-radius: 15px;
  margin-bottom: -4px;
  width: 80%;
}
#grid h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: lighter;
}
#grid p {
  font-family: cursive;
  font-size: 20px;
  color: #676666;
}
.grid-text {
  width: 60%;
  margin: auto auto;
  text-align: left;
}

/*--------account-------------*/

#account {
  border-top: 1px solid #DDDDDD;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}
#account h3 {
  font-size: 26px;
  font-weight: lighter;
  color: #383737;
}
#account button {
  background-color: #00B088;
  color: white;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
}
#account button:hover {
  background-color: #1d9378;
  color: white;
}
.bold {
  font-weight: bold;
}

/*-----------FOOTER-----------*/

footer {
  background-color: #242629;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer li {
  margin: 20px auto;
  font-size: 14px;
  font-weight: bold;
}
footer h3, footer a, footer p {
  color: #AAAAAA;
}
footer h3 {
  color: #5B5C60;
  font-weight: lighter;
}
footer p {
  font-size: 12px;
}
footer i {
  margin-right: 8px;
}
.bottom-foot, .copyr {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}
.foot {
  margin-top: 60px;
  margin-bottom: 40px
}
.copyr {
  padding-bottom: 60px;
}
